@inherits LayoutComponentBase

<PageTitle>Plan your day</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <Present />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
