@implements IDisposable;

<header class="p-3 bg-dark bg-gradient text-white">
    <div class="container">
        <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between ">
            <h1
                class="d-flex align-items-center col-md-6 mb-2 mb-md-0 text-white">
                @displayDate</h1>
            <h1 class="col-md-3 text-end">@currentTime</h1>
        </div>
    </div>
</header>


@code {
    private string displayDate = DateTime.Now.ToString("dddd, MMMM dd, yyyy");
    private string currentTime = DateTime.Now.ToString("HH:mm:ss tt");

    private void UpdateTime()
    {
        currentTime = DateTime.Now.ToString("HH:mm:ss tt");
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private Timer? secondsTimer;

    protected override void OnInitialized()
    {
        secondsTimer = new Timer(1000);
        secondsTimer.Enabled = true;
        secondsTimer.AutoReset = true;
        secondsTimer.Elapsed += (sender, e) => UpdateTime();
    }

    public void Dispose()
    {
        secondsTimer?.Dispose();
    }
}
